<!-- utilizamos la potencia de las vistas para
usar mas facil el HTML. ctrl c + v de index.ejs-->
<nav>
    <ul>
        <li><a href="/">Inicio</a></li>
        <li><a href="/productos">Productos</a></li>
        <li><a href="/contacto">Contacto</a></li>
    </ul>
</nav>